
/* hi-res laptops and desktops */
 


/* tablet, landscape iPad, lo-res laptops ands desktops */ 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	/* Set every element's box-sizing to border-box */
	* {
		box-sizing: border-box;
	}

	html, body {
		
		height: 100%;
		font-family: 'Titillium Web', sans-serif;
	}

	h1, h2, h3, h4, h5 {
		font-family: 'Bangers', cursive;
		letter-spacing: 1px;
		margin-bottom: 15px;
	}





	body{

		margin: 0;
	}



	button{
		background-color: white;
		border: 1px solid black;
		padding: 3px 25px;

	}
	button:hover{
		background: rgb(75, 75, 207);
		color: white;
	}



	/* Give the navigation a background color and have
		*it be fixed to the top of the page so that it scrolls
		*with the user. You will want to study what z-index
		*means in case you encounter any issues when you scroll. 
	*/
	header nav {
		list-style-type: none;
		position: fixed;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		margin: 0;
		background-color: rgb(31, 63, 202);
		height:10%;
		z-index: 1;
		
	}



	header nav a{
		color: gray;
		text-decoration: none;
		margin-left: -2%;


	}

	header nav img {
		align-self:center;
		margin-bottom: 2%;
		animation: none;
	} 

	@keyframes border{
		from{
			border-bottom: 0px dashed gray;
			
		}
		to{
			border-bottom: 4px solid gray;

		}
	}

	/* stretch: Research CSS animations and see how you could implement some ideas when hovering over buttons or navigation items */
	header nav a:hover{

		border-bottom: 4px solid gray;
		animation-name: border;
		animation-iteration-count:initial;
		animation-duration: 1s;
	}



	#jumbo{
		display: flex;
		justify-content: space-evenly;
		color: black;
		

	}



	#jumbo-left{
		
		display: flex;
		justify-content: center;
		flex-flow: column nowrap;
		align-items: center;
		vertical-align: bottom;
		width: 50%;
		

	}

	#jumbo-left h1{

		font-size: 400%;
		justify-content: center;
		align-items: center;
		text-align: center;
		
	}

	/* #jumbo-left button{
		
	}
	*/

	#jumbo-right{
		display: flex;
		width:50%;
		margin-top: 8%;
		margin-bottom: 4%;
	}

	#jumbo-right img {
		display: flex;
		margin-bottom: 10%
		
		
	}


	.middle-img{
		box-sizing: border-box;
		display: inline-block;
		width: 100%;
	}



	/* Sections */

	#sections{

		display: flex;
		justify-content: center;

	}

	#first-section{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		border-top: 1px solid gray; 
		color: black;
		
	}



	#first-section-left{
		display: flex;
		flex-direction: column;
		color: black;
		width: 42%;
		margin: 3%;
	}


	#first-section-right{
		display: flex;
		flex-direction: column;
		width: 47%;
		color: black;
		margin: 3%;

	}



	#second-section{
		display: flex;
		flex-direction: row;;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		border-bottom: 1px solid gray;
		color: black;
		margin: 3%;
		
	}
	#second-section-left{
		display: flex;
		flex-direction: column;
		color: black;
		order: 1;
		margin-right: 3%;
		margin-bottom: 3%;

	}

	#second-section-middle{
		display:flex;
		flex-direction: column;
		color: black;
		order: 2;
		margin-right: 3%;
		margin-bottom: 3%;

	}



	#second-section-right{
		display:flex;
		flex-direction: column;
		color: black;
		order: 3;
		margin-right: 3%;
		margin-bottom: 3%;

	}


	#contact{
		display: flex;
		flex-flow: column nowrap;
		margin-left: 3%;

		
	}

	#contact a{

	list-style-type: none;
	color: black;
	text-decoration: none;
	}

	footer{
		margin: 12% 0 6% 0;
		clear: both;
		text-align: center;
	}



/* services.html styles */

body{

 
}

nav {

}

header nav img {
	text-animation: none;
}
div.parent {
	display: flex;
	flex-direction: column;
	
}
img.services-header-img {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-right: 0%;
	margin-top: 0%;
	z-index: -1;
}
	
img.services-header-img{
	display: flex;

}
#section-top{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-bottom: 1px solid black;
	margin: 3% 4%;
	width: 90%;
	
	
}
#section-top h2{
	font-size: 130%;
}

#section-top p{
	margin-bottom: 3%;

}

#section-middle{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 3% 0%;
}


.box {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	width: 44%;
	border: 1px solid black;
	padding: 1%;
	margin-bottom: 3%;
	margin-left: 2%;
	
}
.box button {
	align-self: flex-start;
	margin-top: 6%;
}



#section-bottom{

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	border-top: 1px solid black;
	margin: 10% 4%;
	margin-right: 2%;
	
}


#section-bottom h2{
margin-top: 5%;
}


#section-bottom p {
	margin-top: 2%;
	width: 68%;
}

#section-bottom li {
	list-style: disc inside;
	padding-top: 6%;
	line-height: 140%;
}

img.services-info-img{
	width: 47%;
}

 

@media screen and (max-width:600px)  { 



		header nav {
			list-style-type: none;
			position: fixed;
			display: flex;
			flex-flow: column-reverse wrap;
			justify-content: space-evenly;
			align-items: center;
			width: 100%;
			height: 20%;
			background-color: rgb(31, 63, 202);
	
			
		}
		header nav p  {
			
		}

		#jumbo{
			display: flex;
			flex-direction: column-reverse;
			justify-content: space-around;
			margin: 0 0;

		}
		
		#jumbo-left{
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			margin-top: 20%;
			margin-bottom: 10%;
			margin-right: auto;
			margin-left: auto;
		}
		#jumbo-right{
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			margin-top: 50%;
			margin-bottom: 0;
			margin-left: auto;
			margin-right: auto;

		}
		
#section-top{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-bottom: 1px solid black;
	margin: 3% auto;
	width: 90%;
	
	
}
#section-top h2{
	font-size: 130%;
}

#section-top p{
	margin-bottom: 3%;

}
#first-section{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-top: 1px solid gray; 
	color: black;
	
}

#first-section-left{
	display: flex;
	flex-direction: column;
	color: black;
	width: 97%;
	margin: 3%;
}


#first-section-right{
	display: flex;
	flex-direction: column;
	width: 97%;
	color: black;
	margin: 3%;

}

#second-section{
	display: flex;
	flex-direction: column;;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	border-bottom: 1px solid gray;
	color: black;
	margin: 3%;
	
}
#second-section-left{
	display: flex;
	flex-direction: column;
	color: black;
	order: 1;
	margin-right: 3%;
	margin-bottom: 3%;

}

#second-section-middle{
	display:flex;
	flex-direction: column;
	color: black;
	order: 2;
	margin-right: 3%;
	margin-bottom: 3%;

}



#second-section-right{
	display:flex;
	flex-direction: column;
	color: black;
	order: 3;
	margin-right: 3%;
	margin-bottom: 3%;

}



#section-middle{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 3% 0%;
}


.box {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	width: 90%;
	border: 1px solid black;
	padding: 1%;
	margin-bottom: 3%;
	margin-left: 2%;
	
}
.box button {
	align-self: flex-start;
	margin-top: 6%;
}



#section-bottom{

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	border-top: 1px solid black;
	margin: 10% 4%;
	margin-right: 2%;
	
}


#section-bottom h2{
margin-top: 5%;
}


#section-bottom p {
	margin-top: 2%;
	width: 68%;
}

#section-bottom li {
	list-style: disc inside;
	padding-top: 6%;
	line-height: 140%;
}

img.services-info-img{
	width: 47%;


	}
 
}

	/* Your code starts here! */

	/* smartphones, Android phones, landscape iPhone */ 
	/* @media (max-width:480px)  { 


	}
	*/




	/* @media (max-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
	/*  @media (max-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
	/* @media (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
	/* @media (max-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
	/* @media (max-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
	/*@media (max-width:1281px) { /* hi-res laptops and desktops}
	*/



